body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.hero {
    background-image: url('/images/fondo.jpg'); 
    height: 60vh;
    background-size: cover;
    color: rgb(5, 1, 1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.hero h1 {
    font-size: 3em;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero p {
    font-size: 1.5em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.intro, .trek, .content-opportunities {
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    color: #333;
}

.intro h2, .trek h2, .content-opportunities h2 {
    margin-top: 0;
    font-size: 2.5em;
}


.images {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.images img {
    width: 45%;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.video-section {
    padding: 20px;
    text-align: center;
    color: #333;
}

.video-section h2 {
    margin-top: 0;
}

#footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Responsividad */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5em;
    }

    .intro, .trek, .content-opportunities, .video-section {
        margin: 10px;
        padding: 15px;
    }
}