body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: #222;
}

header.hero {
    background-image: url('/images/fondo.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 3.5em; 
    margin: 0;
}

.hero p {
    font-size: 1.2em;
    color: #ffffff;
    margin: 20px 0; 
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 30px; 
}

.hero button, .biodiversity .button {
    margin: 10px auto; 
    padding: 15px 20px; 
    background-color: #9eeb22; 
    border: none;
    border-radius: 25px; /* Botón más redondeado */
    cursor: pointer;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 1.1em; 
    color: #000000; 
    transition: background-color 0.3s; 
    width: 150px; 
    height: 50px;
}

.hero button:hover, .biodiversity .button:hover {
    background-color: #04d431; 
}

.investment, .biodiversity {
    background-color: #ffffff;
    text-align: center;
    padding: 50px;
    color: #000;
}

.about-us {
    padding: 50px;
    text-align: center;
    background-color: #ffffff; 
    color: #050000; 
}

.about-us h2{
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #070000;
}

.about-us p, .biodiversity p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.about-info {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.about-info div {
    width: 30%;
    background-color: rgb(253, 252, 252); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgb(255, 255, 255);
    color: #000000; 
    margin: 0 10px; 
}

.about-info h3 {
    margin-top: 0;
    color: #080703; 
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

.sponsors {
    text-align: center;
    background-color: #0c0c0c; 
    padding: 20px 0; 
}

.sponsors div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.sponsors img {
    width: 150px; 
    height: 150px; 
    object-fit: contain; 
    margin: 10px; 
}

.biodiversity {
    display: flex;
    padding: 50px;
    color: #ffffff;
    flex-wrap: wrap; 
    background-color: #000;
}

.biodiversity-text {
    flex: 1; 
    padding-right: 20px;
    min-width: 300px; 
}

.biodiversity-image {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px; 
}

.biodiversity-image img {
    width: 50%;
    height: auto;
}

.biodiversity h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.biodiversity p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.research {
    text-align: center;
    padding: 50px 20px;
    background-color: #ffffff;
    color: #000;
}

.research h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.research p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.research-images {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.research-images img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .research-images img {
        width: 200px; 
    }
}

@media (max-width: 768px) {
    .sponsors img {
        width: 120px; 
        height: 120px;
    }

    header.hero {
        padding: 60px 10px; 
    }

    .hero h1 {
        font-size: 2.5em; 
    }

    .hero p {
        font-size: 1em; 
    }

    .about-us, .biodiversity {
        padding: 30px; 
    }

    .about-us h2, .biodiversity h2 {
        font-size: 2em; 
    }

    .about-us p, .biodiversity p {
        font-size: 1em; 
    }

    .about-info {
        flex-direction: column; 
        align-items: center; 
    }

    .about-info div {
        width: 90%; 
        margin-bottom: 20px; 
    }

    .hero button, .biodiversity .button {
        width: 120px; 
        height: 40px;
    }

    .biodiversity {
        flex-direction: column;
        align-items: center;
    }

    .biodiversity-text {
        padding-right: 0;
        text-align: center;
        color: #ffffff;
    }

    .biodiversity-image {
        margin-top: 20px;
    }

    .biodiversity-image img {
        width: 80%;
    }

    .biodiversity .button {
        width: 100%
    }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 2em; 
    }

    .hero p {
        font-size: 0.9em; 
    }

    .about-us h2, .biodiversity h2 {
        font-size: 1.8em; 
    }

    .about-us p, .biodiversity p {
        font-size: 0.9em; 
    }

    .hero button, .biodiversity .button {
        width: 100px; 
        height: 35px;
    }
}